<%inherit file='../base.html' />
<%!
from django.shortcuts import reverse
from app.model.videos import IdentityType
%>
<%def name='content()'>
<h1>${video.name}<span>${error}</span></h1>
<form class="form-horizontal edit-area add-video-area add-url" action="${reverse('video_staff')}" method="POST">
    ${csrf_token}
    <p>Edit staff & role</p>
    <label>Staff</label><input type="text" name="name" class="form-control"><br/>
    <label>Role</label>
    <select class="form-control" name="identity">
        %for identity in IdentityType:
        <option value="${identity.value}">${identity.value}</option>
        %endfor
    </select>
    <input type="hidden" value="${video.id}" name="video_id">
    <input type="submit" value="Add" class="btn btn-info" id="add-staff-btn">
</form>

% if video.from_to == 'custom':
<form enctype="multipart/form-data" class="form-horizontal edit-area add-video-area add-url" method="POST">${csrf_token}
    % else:
    <form class="form-horizontal edit-area add-video-area add-url" method="POST">${csrf_token}
        % endif
        <p>Edit url & ep</p>
        % if video.from_to != 'custom':
        <label>Add url</label><input id="url" type="text" name="url" class="form-control"><br/>
        % else:
        <label>Add url</label><input id="url" type="file" name="url" class="form-control"><br/>
        % endif
        <label>Add ep</label><input id="number" type="number" name="number" class="form-control">
        <input type="hidden" value="" name="videosub_id" id="videosub-input-id">
        <input type="submit" value="Add" class="btn btn-info" id="add-url-btn">
    </form>
    <h2>Number of episodes</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Number of episodes</th>
            <th>Url</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        % for video_sub in video.video_sub.all():
        <tr>
            <td>ep: ${video_sub.number}</td>
            <td><p class="info">${video_sub.url}</p></td>
            <td>
                <a class="btn btn-default" href="${video_sub.url}">click</a>
                <button class="btn btn-default update-btn" data-id="${video_sub.id}" data-url="${video_sub.url}"
                        data-number="${video_sub.number}">edit
                </button>
                <a class="btn btn-default"
                   href="${reverse('sub_delete', kwargs={'videosub_id':video_sub.id, 'video_id':video.id})}">delete</a>
            </td>
        </tr>
        % endfor
        </tbody>
    </table>
    <h2>Staff (click to delete)</h2>
    <ul>
        %for video_star in video.video_star.all():
        <li><a href="${reverse('staff_delete', kwargs={'staff_id': video_star.id, 'video_id': video.id})}">${video_star.name}:${video_star.identity}</a>
        </li>
        %endfor
    </ul>

    <h2>Comments</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Content</th>
            <th>Author</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        % for comment in comments:
        <tr>
            <td>${comment.content}</td>
            <td>${comment.user.username}</td>
            <td>${comment.status}</td>
            <td>
                <a href="${reverse('comment_update_status', kwargs={'comment_id': comment.id, 'video_id': video.id})}">
                    % if comment.status == True:
                    <span>off</span>
                    % else:
                    <span>on</span>
                    % endif
                </a>
            </td>
        </tr>
        % endfor
        </tbody>
    </table>

</%def>
<%def name='css()'>
<link href="/static/dashboard/css/video_sub.css" rel="stylesheet">
</%def>
<%def name='js()'>
<script src="/static/dashboard/js/video_sub.js"></script>
</%def>